<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Homepage{% endblock %}</title>
  </head>
  <body>
    <main id="main-section">
      <h1>{%block h1 %}{{survey.title}} {% endblock %}</h1>
      <div class="message">
        {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
        {% endfor %}
      </div>
      <div class="container">
        {% block content %} {{survey.instructions}}
        <a href="/agreement">
          <button>Start</button>
        </a>
        {% endblock%}
      </div>
    </main>
  </body>
</html>
